# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Uploads or generated content
uploads/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/

# Cache
*.cache
.cache/
*.pkl

# Excel backups
~$*.xlsx
